.prognosports-container {
  width: 100%;
  height: 100vh;
  padding-top: $navbar-height;
  @include transition;
}
.prognosports-content {
  @include transition;
  position: relative;
  height: 100%;
}
.prognosports-main-content {
  padding: 30px 15px;
  @include transition;
}
.prognosports-content-nopadding {
  padding: 0;
}

@include media-breakpoint-up(md) {
  .prognosports-content {
    padding-left: $sidebar-collapsed-width;
  }

  .prognosports-content.prognosports-content-aside {
    padding-left: calc(#{$sidebar-collapsed-width} + #{$aside-width});
  }
}