.f1-card-header {
    color: #D32F2F;
    text-align: center;
    font-size: 12px;
    font-weight: 600;
    background-color: #FFEBEE;
    padding: 5px 10px;
}

.f1-card-main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 10px 0;
}

.f1-card-driver {
    display: block;
    font-size: 17px;
}

.f1-card-main-description {
    font-size: 12px;
    text-align: center;
}