// Reset estilos Bulma en dropdowns para evitar márgenes conflictivos
#avatarComponent > div > *:not(:last-child),
#communtiesDropdown > div > *:not(:last-child) {
  margin-bottom: 0 !important;
}

#avatarComponent > div > *,
#communtiesDropdown > div > * {
  margin-top: 0 !important;
  margin-right: 0 !important;
  margin-left: 0 !important;
}

