// Import Bulma's core
@import "bulma/bulma";
@import '@oruga-ui/theme-bulma/dist/scss/bulma';

@import "ui/navbar";
@import "ui/block-list";
@import "ui/timeline";

@import 'bulma-calendar/dist/css/bulma-calendar.css';

@import url('https://fonts.googleapis.com/icon?family=Material+Icons');
@import url('https://use.fontawesome.com/releases/v6.2.0/css/all.css');

@import 'leaflet/dist/leaflet.css';

.leaflet-pane {
  z-index: 10;
}

.is-fullwidth {
  width: 100%;
}

.button {
  height: max-content;
  white-space: normal;
}

// Tailwind stuffs
@tailwind base;
@tailwind components;
@tailwind utilities;