* {
  padding: 0;
  margin: 0;
}
a {
  text-decoration: none;
}

body {
  font-family: 'Lato', 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Lato', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-weight: 700;
}

header.masthead {
  position: relative;
  background: #343a40 url("https://cuentavueltas.files.wordpress.com/2012/08/spa-portada.jpg") no-repeat center center;
  background-size: cover;
  padding-top: 8rem;
  padding-bottom: 8rem;
}

header.masthead h1 {
  font-size: 2rem;
}

@media (min-width: 768px) {
  header.masthead {
    padding-top: 12rem;
    padding-bottom: 12rem;
  }
  header.masthead h1 {
    font-size: 3rem;
  }
}

.heading {
  -webkit-text-stroke-width: 0.5px;
  -webkit-text-stroke-color: black;
  font-size: 2rem;
  text-transform: none!important;
}

.features-icons {
  padding-top: 7rem;
  padding-bottom: 7rem;
}

.features-icons .features-icons-item {
  max-width: 20rem;
}

.features-icons .features-icons-item .features-icons-icon {
  height: 7rem;
}

.features-icons .features-icons-item .features-icons-icon i {
  font-size: 4.5rem;
}

.features-icons .features-icons-item:hover .features-icons-icon i {
  font-size: 5rem;
}

.features-icons .features-icons-item .features-icons-text {
  font-size: 1.25rem;
  font-weight: 300;
}

.btn {
  width: 280px;
  height: 50px;
  border-radius: 100px;
  border: none;
  font-size: 16px;
  color: #507ce8;
  box-sizing: border-box;
  padding: 0 30px 0 51px;
  background-image: url("../assets/logo.png");
  background-size: 26px 26px;
  background-repeat: no-repeat;
  background-position: 39px;
  background-color: white;
  outline: none;
  cursor: pointer;
}

.landing-content {
  max-width: 1280px;
  margin: 0 auto;
}

.feature-box {
  margin: 4rem;
  align-self: center;
}

.text {
  font-size: 17px;
  margin-top: 1rem;
  height: 100px;
  color: #6d7d93;
}
.primary-background {
  background-color: #507ce8;
  padding: 38px 20px;
}
.call-to-action-container {
  display: flex;
  justify-content: center;
  align-items: center;
}
.call-to-action-btn {
  margin: 2rem;
}
.call-to-action-h1 {
  font-size: 28px;
  color: white;
}
.call-to-action-p {
  font-size: 17px;
  color: white;
}